<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesomeness.christine.ec327project" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main Screen -->
        <activity
            android:name="com.awesomeness.christine.ec327project.mainscreen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Game list -->
        <activity
            android:name="com.awesomeness.christine.ec327project.gamelist"
            android:label="@string/title_activity_gamelist"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="gamelist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Tic Tac Toe -->
        <activity
            android:name="com.awesomeness.christine.ec327project.tictactoe"
            android:label="@string/title_activity_tictactoe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="tictactoe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Numbers -->
        <activity
            android:name="com.awesomeness.christine.ec327project.numbers"
            android:label="@string/title_activity_numbers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="numbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Matching Pairs -->
        <activity
            android:name="com.awesomeness.christine.ec327project.matchingpairs"
            android:label="@string/title_activity_matchingpairs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="matchingpairs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Water Gun Race -->
        <activity
            android:name="com.awesomeness.christine.ec327project.watergunrace"
            android:label="@string/title_activity_watergunrace"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="watergunrace" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Simon Says -->
        <activity
            android:name="com.awesomeness.christine.ec327project.simonsays"
            android:label="@string/title_activity_simonsays"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="simonsays" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Don't Push the Button -->
        <activity
            android:name="com.awesomeness.christine.ec327project.dontpush"
            android:label="@string/title_activity_dontpush"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="dontpush" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Wackamole -->
        <activity
            android:name="com.awesomeness.christine.ec327project.wackamole"
            android:label="@string/title_activity_wackamole"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="wackamole" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.awesomeness.christine.ec327project.tictactoetwoplayer"
            android:label="@string/title_activity_tictactoetwoplayer" >
        </activity>
        <activity
            android:name="com.awesomeness.christine.ec327project.gamelisttwoplayer"
            android:label="@string/title_activity_gamelisttwoplayer" >
        </activity>
    </application>

</manifest>
